.form {
  max-width: 90%;
  margin: 40px auto 20px;
  position: relative;
  z-index: 4;
}

.form__form{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  max-width: 644px;
  margin: 0 auto;
  width: 90%;
  padding: 0 16px 0 0;
  box-sizing: border-box;


  @media screen and (max-width: 800px) {
    width: 80%;
  }

  @media screen and (max-width: 759px) {
    width: 100%;
  }

 
  &.animated {
    &:before {
      content: '';
      width: 0;
      height: 2px;
      position: absolute;
      top: 0;
      left: 0;
      background-color: var(--dark-default);
      animation: cardTopLine 1s ease forwards;
    }
  
    &::after {
      content: '';
      width: 2px;
      height:0;
      position: absolute;
      top: 0;
      right: 0;
      background-color: var(--dark-default);
      animation: cardRightLine 1s ease-in 1s forwards;
    }
  }

  @media screen and (max-width: 759px) {
    padding: 0 0 0 0;
    &:before {
      animation: none !important;
    }
  
    &::after {
      animation: none !important;
    }
  }
}

.form__fieldset {
 padding: 0;
 border: none;
 display: flex;
 flex-direction: row;
 column-gap: 4px;
 width: 100%;
 max-width: 100%;

  @media screen and (max-width: 500px) {
    flex-direction: column;
  }
}

.form__title {
  margin: 40px auto;
  font-family: 'Circe';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  max-width: 80%;

  @media screen and (max-width: 766px) {
    font-size: 26px;
    line-height: 34px;
    text-align: start;
  }

  @media screen and (max-width: 500px) {
    margin-top: 0;
  }
}

.form__text {
  color: var(--dark-default);
  font-family: 'Circe';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  text-transform: uppercase;
  white-space: nowrap;

  @media screen and (max-width: 376px) {
    font-size: 18px;
    line-height: 26px;
  }
}

.form__label {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form__input {
  border-radius: 0;
  appearance:none;
  -webkit-appearance: none;
  border: none;
  border-bottom: 2px solid transparent;
  background-color: transparent;
  width: auto;
  border-bottom-color: var(--dark-default);
  color: var(--dark-default);

  font-family: 'Circe';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  padding-left: 4px;

  &::placeholder {
    color:var(--dark-disabled)
  }

  &:focus {
    outline: none;
  }

  &_error {
    background-image: url(../../images/inputvalidation/error.png);
    background-size: 4px 15px;
    background-position: right 5px center;
    background-repeat: no-repeat;
  }

  @media screen and (max-width: 766px) {
    font-size: 14px;
    line-height: 26px;
  }

  @media screen and (max-width: 500px) {
    flex-direction: column;
  }
}

.form__err {
  opacity: 0;
  height: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: var(--dark-default);
  text-transform: lowercase;
  padding-left: 4px;
  margin: 0 0 4px;
  transition: opacity .2s ease-in;

  &.form__err_show {
      opacity: 1;
    }
}

.form__succes {
  position: absolute;
  bottom: 0;
  margin: 0;
  color: var(--dark-default);
  font-family: 'Circe';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  text-transform: uppercase;
  white-space: nowrap;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;

  &_show {
    opacity: 1;
  }
}

.form__button {
  width: 190px;
  height: 44px;
  border-radius: 0;
  border: none;
  background-color: #D3D3DA;
  color: var(--dark-disabled);
  margin: 0 0 0 16px;
  font-family: 'Circe';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  padding: 0;
  cursor: none;
  transition: all 0.3s ease-in-out;
 

  &.form__button_valid {
    background-color: var(--primary-default);
    color: var(--light-default);
    &:hover {
      cursor: url(../../images/cursor/Cursor-Hand.svg), pointer;
    }
  }

  &.form__button_click {
    background-color: var(--primary-onclick);
    color: var(--light-default);
    &:hover {
      cursor: url(../../images/cursor/Cursor-Hand.svg), pointer;
    }
  }

  
  @media screen and (max-width: 500px) {
    width: 100%;
  }

}

.form__sended {
  font-family: 'Circe';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #4BB96A;
  margin: 8px 0 0 ;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;

  @media screen and (max-width: 376px) {
    font-size: 18px;
    line-height: 24px;
  }

  &_show {
    opacity: 1;
  }
}

.form__errormessage{
  font-family: 'Circe';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #f30b0b;
  margin: 8px 0 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;

  @media screen and (max-width: 376px) {
    font-size: 18px;
    line-height: 24px;
  }

  &_show {
    opacity: 1;
  }
}

.form__buttonbox {
  display: flex;
  flex-direction: row;
  align-items: center;

  @media screen and (max-width: 500px) {
    position: relative;
  }

}

.form__svg {
  opacity: 0;
  transition: all 0.3s ease-in-out;
  position: absolute;
  right: 5%;

  path{
    fill: #2D8BF1;
  }

  &_show {
    opacity: 1;
  }

/*   @media screen and (max-width: 500px) {
    position: absolute;
    right: 5%;
  } */
}

.form__checkbox {
  display: none;
}

.form__checkboxlabel {
  width: 100%;
  box-sizing: border-box;
  padding-left: 28px;
  margin: 0 0 0 auto;
  position: relative;

  font-family: 'Circe';
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 24px;
  
  display: flex;
  flex-direction: column;

 
  p {
    margin: 0;    

    a {
      display: inline;
      margin: 0 4px;
      color: inherit;
      &:hover {
        cursor: url(../../images/cursor/Cursor-Hand.svg), pointer;
      }
    }
  }

  &::before {
    content: '';
    display: flex;
    position: absolute;
    left:0;
    top: 2px;

    width: 16px;
    height: 16px;
    border: 1px solid var(--primary-default);
    background-color: #F6F6F7;
    transition: all 0.3s ease-in-out;
  }

  &::after {
    content: '';
    display: flex;
    position: absolute;
    top: 6px;
    left: 3px;
    width: 10px;
    height: 5px;
    transform: rotate(-45deg);
    transition: border-color 0.3s ease-in-out;
    border-left-color: transparent;
    border-bottom-color: transparent;
  }

  &:hover {
    &::before {
      border-color: var(--primary-hovered);
      background-color: var(--light-hovered);
    }
    
    &::after {
      border-left: 2px solid var(--primary-disabled);
      border-bottom: 2px solid var(--primary-disabled);
    }
  }
}

.form__fieldset .form__checkbox:checked ~ .form__checkboxlabel {
  &::before {
    border: 1px solid var(--primary-default);
    background-color:var(--primary-default);
    transition: all 0.3s ease-in-out;
    z-index: 2;
  }

  &::after {
    border-left: 2px solid #F6F6F7;
    border-bottom: 2px solid #F6F6F7;
    z-index: 3;
  }

  &:hover {
    &::before {
      border-color: var(--primary-hovered);
      background-color:var(--primary-hovered);
    }
    
    &::after {
      border-left: 2px solid #F6F6F7;
      border-bottom: 2px solid #F6F6F7;
    }
  }
}

.form__fieldset .form__checkbox_error ~ .form__checkboxlabel {
  &::before {
    border: 1px solid #F13D53;
    background-color: #F6F6F7;
    transition: all 0.3s ease-in-out;
    z-index: 2;
  }

  &::after {
    border-left: 2px solid #F6F6F7;
    border-bottom: 2px solid #F6F6F7;
    z-index: 3;
  }

  &:hover {
    &::before {
      border-color: var(--primary-hovered);
      background-color:#F6F6F7;
    }
    
    &::after {
      border-left: 2px solid #F6F6F7;
      border-bottom: 2px solid #F6F6F7;
    }
  }
}

.form__checkboxlabel .form__err {
  margin-top: 4px;
}