.form {
  width: 100%;
  
  position: relative;
  box-sizing: border-box;
  margin:  0;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  padding: 80px 0 0;

  @media screen and (max-width: 700px) {
    padding: 40px 0 0;
  }
}

.form__layout {
  grid-row: 1;
  grid-column: 1;

  z-index: 1;
  overflow: hidden;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: polygon(0 36%, 12% 0, 71% 26%, 89% 26%, 100% 45%, 100% 100%, 0% 100%);
  position: relative;

}

.form__bg {
  position: absolute;
  top: 50%;
  left: 50%;
  right: 0;
  transform: translate(-50%, -50%); 
  width: 2500px;
  height: 2500px;
  background: conic-gradient(from 225deg at 50% 50%, #DAE856 0deg, #E3E3E3 360deg);
  animation: bganimation 60s linear infinite forwards;
}


.form__container  {
  grid-row: 1;
  grid-column: 1;
  width: 90%;
  margin: 0 auto;
  z-index: 10;
  padding: 200px 0 75px;

  @media screen and (max-width: 1000px) {
    width: 80%;
  }

  @media screen and (max-width: 759px) {
    padding: 100px 0 75px;
  }

  @media screen and (max-width: 650px) {
    padding: 100px 0 75px;
    width: 90%;
  }
}


.form__form{
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  max-width: 914px;
  margin: 0 auto;
  width: 90%;

  @media screen and (max-width: 800px) {
    width: 80%;
  }

  @media screen and (max-width: 759px) {
    width: 100%;
  }
}

.form__title {
  margin: 0 auto;
  font-family: 'Circe';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
}

.form__fieldset {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  column-gap: 5px;
  margin: 0;
  min-height: 58px;

  @media screen and (max-width: 850px)  {
    flex-wrap: wrap;
  }

  &:nth-of-type(1) {
    @media screen and (max-width: 759px) {
      row-gap: 20px;
      .form__text {
        display: none;
   
      }
    }

  }

  &:nth-of-type(4) {
    @media screen and (max-width: 1000px) {
      flex-wrap: wrap;
      row-gap: 20px;
      margin-bottom: 24px;
    }
  }

  &:nth-of-type(5) {
    @media screen and (max-width: 1000px) {
      flex-wrap: wrap;
      row-gap: 20px;
      margin-bottom: 24px;
    }
  }
}

.form__text {
  color: var(--dark-default);
  font-family: 'Circe';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  text-transform: uppercase;
  white-space: nowrap;

  span {
    @media screen and (max-width: 759px)  {
      display: none;
    }
  }
}

.form__label {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form__input {
  border: 2px solid transparent;
  background-color: transparent;
  width: auto;
  border-bottom-color: var(--dark-default);
  color: var(--dark-default);

  font-family: 'Circe';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  padding-left: 4px;

  &::placeholder {
    color:var(--dark-disabled)
  }

  &:focus {
    outline: none;
  }

  &_error {
    background-image: url(../../images/inputvalidation/error.png);
    background-size: 4px 15px;
    background-position: right 5px center;
    background-repeat: no-repeat;
  }
  &_succes {
    background-image: url(../../images/inputvalidation/succes.png);
    background-size: 20px;
    background-position: right center;
    background-repeat: no-repeat;
  }

}

.form__selection {
  width: 100%;
  display: flex;
  flex-basis: 50%;
  flex-direction: row;
  max-height: 30px;


  &:nth-of-type(2) {
    width: auto;
    .form-select__container {
      max-width: 100%;
    }

    @media screen and (max-width: 1000px) {
      margin-top: 24px;
      width: 100%;
    }
  }

  @media screen and (max-width: 1000px) {
    flex-basis: 100%;
  }

  @media screen and (max-width: 759px) {
    flex-direction: column;
  }
}

.form-select__container {
  width: 100% !important;
}

.form-select {
  &__control {
    border: 2px solid transparent !important;
    background-color: transparent !important;
    width: 100% !important;
    min-width: 150px !important;
    min-height: 30px !important;
    border-bottom-color: var(--dark-default) !important;
    color: var(--dark-default) !important;
    box-shadow: none !important;
  
    font-family: 'Circe';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    margin: 0 !important;

    &--is-focused{
      .form-select__indicator {
        transform: rotate(180deg);
      }
    }
  }

  &__value-container {
    padding: 0 8px !important;
    @media screen and (max-width: 759px) {
      padding: 0 !important;
      
    }
  }

  &__input-container {
    padding: 0 !important;
    margin: 0 !important;
  }

  &__placeholder  {
    color:var(--dark-disabled) !important;
  }

  &__indicator {
    color: var(--dark-default) !important;
    transition: color, transform 150ms !important;
    padding: 0  8px 0 0 !important;
    &-separator {
      background-color: transparent !important;
    }
  }

  &__menu {
    background-color: #E3E3E3 !important;
    border-radius: unset !important;
    animation: scaleIn 0.3s ease-in-out;
    padding: 0 !important;
    margin: 0 !important;

    &-list {
      padding: 0 !important;
      margin: 0 !important;
    }
  }

  &__option {
    font-family: 'Circe' !important;
    font-style: normal ;
    font-weight: 700 !important; 
    font-size: 18px !important;
    line-height: 24px !important;
    text-transform: uppercase;
    border: none;
    border-bottom: 2px solid var(--dark-default);
    height: 44px !important;

    &:hover {
      background-color: var(--dark-default) !important;
      color: var(--light-default) !important;
    }

    &--is-focused {
      background-color: transparent !important;
    }

    &--is-selected {
      background-color: var(--dark-default) !important;
      color: var(--light-default) !important;
    }
  }
}

.form__err {
  opacity: 1;
  height: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: var(--dark-default);
  text-transform: lowercase;
  padding-left: 4px;
  margin: 0 0 4px;
  transition: opacity .2s ease-in;а

      &_show {
      opacity: 1;
    }
}

.form__svg {
  grid-row: 1;
  grid-column: 1;
  z-index: 2;
  width: 100%;
  max-width: 90%;
  min-height: 87%;
  max-height: 709px;
  height: auto;
  margin: 0 auto;
  stroke-width: 2px;
  stroke: var(--dark-default);
  stroke-dashoffset: 3000; 
  stroke-dasharray: 3000;
    &.animated {
      animation: dash 3s ease-out forwards;
    }

  @media screen and (max-width: 1000px) {
    min-height: 90%;
  }


  @media screen and (max-width: 759px) {
    display: none;
  }
 }


.form__succes {
  position: absolute;
  bottom: 0;
  margin: 0;
  color: var(--dark-default);
  font-family: 'Circe';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  text-transform: uppercase;
  white-space: nowrap;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;

  &_show {
    opacity: 1;
  }
}

/* 
.form__button {
  width: 94px;
  height: 94px;
  border-radius: 50%;
  border: 2px solid var(--dark-default);
  background-color: var(--accent-default);
  background-image: url(../../images/plane.svg);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 39% 41%;
  padding: 0;
  margin-right: 47px;
  align-self: flex-end;
  transform: scale(1);
  color: transparent;
  font-size: 0;
  transition: all 0.2s ease-in-out;

  &_disabled {
    background-color: #D3D3DA;
    background-image: url(../../images/draft.svg);
    
    &:active {
      transform: scale(1) !important;
    }
  }

  &_succes {
    width: 94px;
    height: 94px;
    border-radius: 50%;
    border: 2px solid var(--dark-default);
    background-color: var(--accent-default);
    background-image: url(../../images/inputvalidation/succesPost2.svg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 50% 41%;
    padding: 0;
    margin-right: 47px;
    align-self: flex-end;
    transform: scale(1);
    color: transparent;
    font-size: 0;
  }

  &:active {
    transform: scale(0.97);
  }


  @media screen and (max-width: 759px) {
    width: 100%;
    height: 44px;
    border-radius: 0;
    border: none;
    background-image: none;
    background-color: var(--dark-default);
    color: var(--light-default);
    margin: 0;
    font-family: 'Circe';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;


    &_disabled {
      background-color: #E9E9E9;
      color: var(--dark-onclick);
    }
  }
} */

 
.form__button {
  width: 94px;
  height: 94px;
  border-radius: 50%;
  border: 2px solid var(--dark-default);
  background-color: #D3D3DA;
  background-image: url(../../images/draft.svg); 
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 39% 41%;
  padding: 0;
  margin-right: 47px;
  align-self: flex-end;
  color: transparent;
  font-size: 0;
  transition: all 0.2s ease-in-out;
  position: relative;




  .icon {
    position: absolute;
    z-index: 2;
    top: 24px;
    left: 15px;
    transform: translate3d(0,0,0);
    fill: none;
    stroke-width: 2px;
    stroke: var(--dark-default);
    stroke-linecap: square;
    stroke-dasharray: 325 325;

    &.mail {
      width: 60px;
      height: 40px;
      stroke-dashoffset: 325;
    }
    
    &.plane {
      width: 60px;
      height: 55px;	
      stroke-dashoffset: 325;
    }

    &.check {
      width: 60px;
      height: 55px;	
      stroke-dashoffset: 325;
    }
    
    

  }


  &.form__button_valid {
    background-image: none;
    background-color: #DAE856;

    .icon.mail {
      stroke-dashoffset: 0;
	    transition: stroke-dashoffset 1s ease-in-out;
    }
  }

  &.form__button_click {
    background-image: none;
    background-color: #DAE856;

    .icon.plane {
      stroke-dashoffset: 0;
	    transition: stroke-dashoffset 1s ease-in-out;
      animation: fly 2.4s ease-in-out;
	    animation-fill-mode: both;
    }
  }

  &.form__button_succes {
    background-image: none;
    background-color: #DAE856;

    .icon.check {
      stroke-dashoffset: 0;
	    transition: stroke-dashoffset 1s ease-in-out;
    }
  }



  @media screen and (max-width: 759px) {
    width: 100%;
    height: 44px;
    border-radius: 0;
    border: none;
    background-image: none;
    background-color: #E9E9E9;
    color: var(--dark-onclick);
    margin: 0;
    font-family: 'Circe';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;


  }
}


@keyframes fly {
	0%, 50% {
		transform: translate3d(0,0,0) scale(1);
	}
	60% {
		transform: translate3d(-10px,5px,0) scale(1.05);
	}
	70% {
		opacity: 1;
	}
	85% {
		opacity: 0;
	}
	100% {
		transform: translate3d(300px,-150px,0) scale(0.4);
		opacity: 0;
	}
}