.vebinar {
  max-width: 90%;
  width: 100%;
  margin: 40px auto;
}

.vebinar__subtitle {
  font-family: 'Circe';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  text-transform: uppercase;
  }