.layout{
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: var(--dark-default);
  overflow: hidden;

  @media screen and (max-width: 600px) {
    height: 95vh;
    
  }

  .layout__bg {
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .layout__point {
    display: block;
    width: 6px;
    height: 6px;
    transform: translate(-40%, -40%);
    border-radius: 50%;
    background-color: #fff;
    opacity: 0;
    animation: leadPoints 1s ease-in 3s forwards;
  }

  .layout__horisontal {
    position: absolute;
    width: 0;
    bottom: 5%;
    left: 5%;
    height: 2px;
    background-color: #fff;
    z-index: 2;
    animation: leadBottomLine 1s ease-in 1s forwards;
 }

  .layout__vertical {
    position: absolute;
    height: 0;
    width: 2px;
    bottom: 5%;
    right: 5%;
    background-color: #fff;
    z-index: 20;
    animation: leadRightLine 1s ease-in 2s forwards;
      @media screen and (max-width: 600px) {
        animation: leadRightLineMobile 1s ease-in 2s forwards;
    }
  }

  .layout__big {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 1700px;
    height: 1700px;
    border-radius: 50%;
    background: radial-gradient(50% 50% at 50% 50%, #4F5700 0%, #DAE856 63.54%, #000000 100%);
    filter: blur(120px);
    animation: bigRoundAnimation 60s ease infinite forwards;
    transform-origin: center center;
  }

  .layout__middle {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 500px;
    height: 500px;
    border-radius: 50%;
  
    /*левый*/
    &.r1 {
      top: 50%;
      left: 0;
      background: radial-gradient(50% 50% at 50% 50%, #4F5700 0%, #DAE856 63.54%, #000000 100%);
      filter: blur(100px);

      transform-origin: 200px 300px;
      animation: middleLeftRoundAnimation 30s ease-in-out infinite forwards;
    }

  /*правый*/
    &.r2 {
      top: 40%;
      left: 40%;
      background: conic-gradient(from 180deg at 50% 50%, #DAE856 0deg, #4F5700  213.75deg, #000000 360deg);
      filter: blur(80px);
      transform: rotate(-90deg);
      animation: small2RoundAnimation 30s ease-in-out infinite alternate;
    }

    &.r3 {
      top: 10%;
      left: 10%;
      transform-origin: 50px 40px;
      background: conic-gradient(from 180deg at 50% 50%, #DAE856 0deg, #4F5700  213.75deg, #000000 360deg);
      filter: blur(60px);
      transform: rotate(-90deg);
      animation: middleRightRoundAnimation 30s ease-in-out infinite forwards;
    }

    &.r4 {
      top: 58%;
      left: 0;

      transform-origin: 22px;

      background: conic-gradient(from 180deg at 50% 50%, #DAE856 0deg, #4F5700  213.75deg, #000000 360deg);
      filter: blur(60px);
      transform: rotate(-90deg);
      animation: middleRightRoundAnimation 32s ease-in-out infinite forwards;
    }
  }

  .layout__small {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: conic-gradient(from 180deg at 50% 50%, #DAE856 0deg, #4F5700  213.75deg, #000000 360deg);
    filter: blur(100px);
    transform-origin: 60% 60%;
    animation: smallRoundAnimation 25s ease-in-out infinite forwards;
  }
}


