@import "~video-react/styles/scss/video-react";

.video {
  padding-top: 40px;
  position: relative;
  .title {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

.video__text {
  z-index: 4;
  position: relative;
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  max-width: 628px;
  width: 90%;
  margin: 0 auto 80px;
    @media screen  and (max-width: 766px) {
      font-size: 15px;
      line-height: 24px;
      margin: 0 auto 40px;
    }
 }

.video__video {
  z-index: 4;
  width: 100%;
  height: fit-content;
  aspect-ratio: 16/9;
  background-color: rgba(176, 149, 179, 0.3);
  position: relative;
  z-index: 4;
  overflow: hidden;

  &:hover {
    cursor: url(../../images/cursor/Cursor-Hand.svg), pointer;
  }

  @media screen  and (max-width: 1024px) {
   min-height:400px; 
  }

  @media screen  and (max-width: 766px) {
    min-height: 205px;
  }

}

.video-react {
  position: relative;
  z-index: 5;
  &:hover {
    cursor: url(../../images/cursor/Cursor-Hand.svg), pointer;
  }
}

.video-react-poster {
  background-size: cover !important;
 }

 .video-react-video {
  &:hover {
    cursor: url(../../images/cursor/Cursor-Hand.svg), pointer !important;
  }
 }

 .video-react-big-play-button-center {
    display: none!important;
 }


 
.video__layout {
  z-index: 1;
  position: absolute;
  overflow: hidden;
  top:3%;
  left: 0;
  width: 100%;
  height: 60%;
  clip-path: polygon(0 36%, 10% 0, 40% 8%, 45% 0, 74% 0, 91% 11%, 98% 11%, 100% 31%, 100% 100%, 0 100%);

  @media screen  and (max-width: 766px) {
    height: 80%;
  }
}

.video__bg {
  position: absolute;
  top: 40%;
  left: 50%;
  right: 0;
  transform: translate(-50%, -40%);
  width: 2500px;
  height: 2500px;
  background: conic-gradient(from 225deg at 50% 50%, #CADF00 0deg, #DCDCDC 360deg);
  animation: bganimation 60s linear infinite forwards;
}