.up {
  position: fixed;
  bottom: 10%;
  right: 5%;
  width: 40px ;
  z-index: 88;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-color: hsl(0, 0%, 96%);
  background-image: url(../../images/up.svg);
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 2px 4px rgb(33 31 51 / 25%);
  display: none;
  transition: all 0.2s ease-in-out;

  &_active {
    display: block;
    animation: zoomIn 0.2s ease;
  }
  
  
  &:hover {
    background-color: hsl(0, 0%, 92%);
    cursor: url(../../images/cursor/Cursor-Hand.svg), pointer !important;
  }

  &:active {
    background-color: hsl(0, 0%, 90%);
  }

}