.activeline {
  position: absolute;
  right: 5%;
  bottom: 5%;
  width: 90%;
  height: 90%;
  z-index: 1;

  
  svg {
    width:100%;
    height: 100%;
    display: block;
  }
}

#mySvg {
  stroke-width: 2px;
  stroke: rgb(255, 255, 255);
  transition: all 0.01s ease-out;
}

.wayLine {
  #wire {
    opacity: 0;
    stroke: #fff;
    stroke-width: 2;
    fill: none;
  }

  #circle {
   opacity: 0;
  }
}


#line {
  opacity: 0;
  animation: lineOpacity 1s ease-in-out 4s forwards;

}

@keyframes lineOpacity {
  from {
    opacity: 0;
  }  

  to {
    opacity: 0.5;
  }
}

