.activeline {
  position: absolute;
  right: 5%;
  bottom: 5%;
  width: 90%;
  height: 90%;
  z-index: 1;

  
  svg {
    width:100%;
    height: 100%;
    display: block;
    mix-blend-mode: difference;
  }
}

#mySvg {
  stroke-width: 2px;
  stroke: rgb(255, 255, 255);
  transition: all 0.01s ease-out;
}

.wayLine {
  #wire {
    opacity: 0;
    stroke: #fff;
    stroke-width: 2;
    fill: none;
  }

  #circle {
    opacity: 0;
  }

/*   #circle {
    offset-path: path('M35.3992 85.459C100.608 198.402 304.959 -31.2987 315.813 44.8924C321.395 84.0764 290.149 156.892 206.149 168.873C84.5655 186.213 -2.55799 -31.6269 2.04738 6.35426C4.65039 27.8217 21.8819 62.0469 35.3992 85.459Z');
    offset-distance: 0%;
    animation: circleway 5s ease forwards infinite;

    @media screen and (max-width: 960px) {
      offset-path: path('M271.113 59.0329C271.112 22.4645 49.4079 29.5699 15.0456 29.5699C-17.8867 29.5699 13.1735 -5.42796 89.7963 3.43952C200.703 16.2746 199.533 66.2032 182.732 71.519C118 91.9999 271.113 66.6132 271.113 59.0329Z');
      
    }
  } */
}


#line {
  opacity: 0;
  animation: lineOpacity 1s ease-in-out 4s forwards;
}

@keyframes lineOpacity {
  from {
    opacity: 0;
  }  

  to {
    opacity: 1;
  }
}


@keyframes circleway {
  from {
    offset-distance: 0%;
  }
  to {
    offset-distance: 100%;
  }
  
}