.cursor {
  width: 24px;
  opacity: 1;
  height: 24px;
  mix-blend-mode: difference;
  background-color: #fff;
  position: absolute;
  z-index: 999999999;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  pointer-events: none;
  transition: background-color 0.2s, 
              background-image 0.3s, 
              width 0.15s cubic-bezier(.58,-0.46,.5,1.37), 
              height 0.15s cubic-bezier(.58,-0.46,.5,1.37);
  @media screen and (max-width: 1000px) {
    display: none;
  }
}

.cursor-hide {
  opacity: 0;
}

.cursor-big {
  height: 100px;
  width: 100px;
}

.cursor-pensil {
  height: 40px;
  width: 40px;
  background-image: url(../../images/cursor/pensil.svg);
  background-repeat: no-repeat;
  background-size:  50%;
  background-position: center;
  background-color: transparent;
  border-width: 2px;
  border-style: solid;
  color: #DAE856;
}


.cursor-more {
  height: 100px;
  width: 100px;
  background-image: url(../../images/cursor/more.svg);
  background-repeat: no-repeat;
  background-size:  50%;
  background-position: center;
  background-color: #DAE856;
  mix-blend-mode: unset;
}

.cursor-bmore {
  height: 100px;
  width: 100px;
  background-image: url(../../images/cursor/bmore.svg);
  background-repeat: no-repeat;
  background-size:  50%;
  background-position: center;
  background-color: var(--primary-default);
  mix-blend-mode: unset;
}

.cursor-play {
  height: 100px;
  width: 100px;
  background-image: url(../../images/cursor/play.svg);
  background-repeat: no-repeat;
  background-size:  25%;
  background-position: center;
  background-color: #DAE856;
  mix-blend-mode: unset;
}